.DS_Store
__pycache__
*.pyc
*.egg-info
*.pkl

data/1_mediapipe/
data/cam_params.json
data/mediapipe_all.pkl
results/

build/
dist/
docs/

vis_results*
mmtracking
*/__pycache__*
baselines/*

.pytest_cache

.ipynb_checkpoints


